lower_bound
ma
mstd
qty
qty_new
refined_qty
smooth
stable
unstable
upper_bound

In [1]:
# Import
import pandas as pd
import numpy as np
import math
import pandas as pd 
import seaborn as sns
%matplotlib inline

# Data Load

In [47]:
# Data 
#feature_regression_example
#kopo_channel_seasonality_new
#kopo_parameter
#KOPO_DECISION_TREE_ALL_NEW
freData =  pd.read_csv("./dataset/feature_regression_example.csv")
kpData =  pd.read_csv("./dataset/kopo_parameter.csv")
kdtData =  pd.read_csv("./dataset/KOPO_DECISION_TREE_ALL_NEW.csv")

kcsData =  pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")
kcsData.columns = kcsData.columns.str.upper()
kcsData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

# 0 데이터 처리

In [74]:
selloutData = pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")
selloutData.head(2)

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0

In [77]:
selloutData["NEW_QTY"] = np.where(selloutData["QTY"] < 0,
                                 0, selloutData["QTY"])

In [81]:
selloutData["WEEK"] = selloutData["YEARWEEK"].astype(str).str[4:]

In [82]:
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY WEEK
0      A60   PRODUCT4    201402     71.0     71.0   02
1      A60  PRODUCT59    201402  22275.0  22275.0   02
2      A60  PRODUCT34    201402   4463.0   4463.0   02
3      A60  PRODUCT47    201402      0.0      0.0   02
4      A60  PRODUCT56    201402     23.0     23.0   02

In [78]:
selloutData[ selloutData["QTY"] < 0 ]

       REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY
65          A02  PRODUCT16    201403   -1.0      0.0
338         A08  PRODUCT36    201402   -1.0      0.0
1270        A14  PRODUCT36    201405   -1.0      0.0
1616        A17  PRODUCT60    201402   -1.0      0.0
2035        A39   PRODUCT7    201404  -12.0      0.0
2378        A39   PRODUCT7    201402   -1.0      0.0
2880        A39   PRODUCT7    201405   -5.0      0.0
2997        A18  PRODUCT36    201403   -1.0      0.0
4483        A13  PRODUCT15    201406   -2.0      0.0
4865        A23   PRODUCT1    201405   -1.0      0.0
4971        A13  PRODUCT15    201408   -1.0      0.0
5274        A13  PRODUCT15    201410   -1.0      0.0
5362        A13  PRODUCT15    201407   -1.0      0.0
5628        A16  PRODUCT68    201407   -1.0      0.0
5801        A01  PRODUCT60    201409   -2.0      0.0
5940        A11  PRODUCT56    201407   -1.0      0.0
6048        A60  PRODUCT47    201407   -1.0      0.0
6224        A45  PRODUCT47    201407   -1.0      0.0
6479        A14  PRODUCT36    201409   -1.0      0.0
6597        A56  PRODUCT14    201409   -1.0      0.0
7277        A60   PRODUCT1    201408   -1.0      0.0
7553        A13  PRODUCT15    201411   -1.0      0.0
7956        A51  PRODUCT47    201411   -1.0      0.0
8961        A13  PRODUCT15    201413   -1.0      0.0
9357        A05  PRODUCT17    201413   -1.0      0.0
10444       A60  PRODUCT47    201414   -1.0      0.0
11772       A01   PRODUCT6    201416   -1.0      0.0
11786       A01  PRODUCT60    201416   -1.0      0.0
11852       A16  PRODUCT68    201416   -1.0      0.0
11903       A10  PRODUCT61    201415   -1.0      0.0
...         ...        ...       ...    ...      ...
116838      A01   PRODUCT6    201611 -364.0      0.0
116852      A01  PRODUCT60    201611   -1.0      0.0
117303      A02  PRODUCT60    201614   -1.0      0.0
117319      A48  PRODUCT61    201616   -1.0      0.0
117854      A32  PRODUCT14    201616   -2.0      0.0
118367      A39  PRODUCT66    201640   -1.0      0.0
118368      A39  PRODUCT37    201640   -1.0      0.0
118369      A39  PRODUCT50    201640   -1.0      0.0
118815      A08  PRODUCT15    201613   -1.0      0.0
118884      A62  PRODUCT56    201615  -13.0      0.0
119360      A02  PRODUCT60    201637   -1.0      0.0
119696      A18  PRODUCT15    201639   -2.0      0.0
120075      A14  PRODUCT40    201544   -1.0      0.0
120132      A17  PRODUCT60    201544   -1.0      0.0
120836      A13   PRODUCT5    201602   -1.0      0.0
120995      A03   PRODUCT6    201643  -24.0      0.0
121775      A59  PRODUCT47    201633   -1.0      0.0
122190      A02  PRODUCT60    201633   -1.0      0.0
122233      A16  PRODUCT68    201635   -1.0      0.0
122285      A09  PRODUCT61    201635   -1.0      0.0
122504      A02  PRODUCT60    201632   -1.0      0.0
123294      A13   PRODUCT5    201631   -2.0      0.0
123632      A32  PRODUCT14    201629   -2.0      0.0
123639      A13   PRODUCT5    201628   -2.0      0.0
123665      A39  PRODUCT76    201628  -13.0      0.0
123677      A39  PRODUCT25    201628   -1.0      0.0
123957      A39  PRODUCT50    201627   -1.0      0.0
123970      A39  PRODUCT25    201627   -1.0      0.0
124148      A13   PRODUCT5    201648   -6.0      0.0
124532      A32  PRODUCT14    201627   -2.0      0.0

[323 rows x 5 columns]

In [76]:
selloutData[ (selloutData["QTY"] < 0) & 
             (selloutData["REGIONID"] == "A02") ]

       REGIONID    PRODUCT  YEARWEEK  QTY
65          A02  PRODUCT16    201403 -1.0
30171       A02  PRODUCT60    201517 -3.0
47221       A02  PRODUCT16    201450 -2.0
54719       A02   PRODUCT6    201442 -1.0
60311       A02  PRODUCT60    201540 -1.0
60482       A02  PRODUCT60    201623 -1.0
61044       A02  PRODUCT60    201546 -1.0
62858       A02  PRODUCT60    201620 -1.0
69526       A02  PRODUCT60    201618 -1.0
71873       A02  PRODUCT60    201607 -2.0
74280       A02  PRODUCT60    201621 -1.0
87535       A02  PRODUCT60    201606 -1.0
91969       A02  PRODUCT60    201627 -1.0
93563       A02  PRODUCT60    201645 -2.0
95560       A02  PRODUCT60    201646 -1.0
96815       A02  PRODUCT60    201634 -1.0
97749       A02  PRODUCT60    201630 -1.0
103008      A02  PRODUCT60    201610 -1.0
105364      A02  PRODUCT60    201631 -1.0
114839      A02  PRODUCT60    201615 -1.0
116458      A02  PRODUCT60    201636 -3.0
117303      A02  PRODUCT60    201614 -1.0
119360      A02  PRODUCT60    201637 -1.0
122190      A02  PRODUCT60    201633 -1.0
122504      A02  PRODUCT60    201632 -1.0

In [48]:
kcsData_minus = kcsData[ (kcsData.QTY.astype(int) < 0) ]
len(kcsData_minus)

323

In [49]:
def refining(df):
    if df['QTY'] < 0:
        return 0
    else:
        return df['QTY']
    
kcsData["QTY_NEW"] = kcsData.apply(refining, axis=1)
kcsData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW
0      A60   PRODUCT4    201402     71.0     71.0
1      A60  PRODUCT59    201402  22275.0  22275.0
2      A60  PRODUCT34    201402   4463.0   4463.0
3      A60  PRODUCT47    201402      0.0      0.0
4      A60  PRODUCT56    201402     23.0     23.0

# 연도 및 주차 정보 넣기

In [71]:
kcsData["YEAR"] = kcsData["YEARWEEK"].astype(str).str[0:4]
kcsData.sort_values(["YEARWEEK"], ascending=True)
kcsData.head(10)

kcsData["WEEK"] = kcsData["YEARWEEK"].astype(str).str[4:]
kcsData.sort_values(["YEARWEEK"], ascending=True)
kcsData.head(10)

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW WEEK  YEAR
0      A60   PRODUCT4    201402     71.0     71.0   02  2014
1      A60  PRODUCT59    201402  22275.0  22275.0   02  2014
2      A60  PRODUCT34    201402   4463.0   4463.0   02  2014
3      A60  PRODUCT47    201402      0.0      0.0   02  2014
4      A60  PRODUCT56    201402     23.0     23.0   02  2014
5      A60  PRODUCT57    201402     14.0     14.0   02  2014
6      A60  PRODUCT12    201402   1186.0   1186.0   02  2014
7      A60   PRODUCT1    201402      7.0      7.0   02  2014
8      A60  PRODUCT33    201402    101.0    101.0   02  2014
9      A60  PRODUCT62    201402    336.0    336.0   02  2014

# 53 주차 제거하기

In [65]:
kcsData.dtypes
kcsData_sel1 = kcsData[(kcsData.WEEK == '53')]
kcsData_sel1.head(3)

      REGIONID    PRODUCT  YEARWEEK     QTY  QTY_NEW WEEK
62075      A64  PRODUCT63    201553  2092.0   2092.0   53
62076      A64  PRODUCT15    201553    80.0     80.0   53
62077      A64   PRODUCT4    201553  1781.0   1781.0   53

In [63]:
kcsData['WEEK']= kcsData['WEEK'].astype(str)
kcsData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
QTY_NEW     float64
WEEK         object
dtype: object

In [92]:
kcsData = kcsData.drop(kcsData[kcsData.WEEK == '53'].index, axis=0)

# 이동평균 구하기

In [93]:
sortedData = kcsData.sort_values(["REGIONID","PRODUCT","YEARWEEK"])
sortedData.reset_index(inplace=True, drop=True)
sortedData.head()

period = 17

In [95]:
def ma_rolling(eachData, term):
    basicData = eachData.reset_index(drop=True)
    basicData["MA"] = basicData["QTY_NEW"].rolling(window=term,center=True,min_periods=1).mean()
    return basicData
#bascData.head(2)
sortedData = sortedData.groupby(["REGIONID","PRODUCT"]).apply(ma_rolling, period)
sortedData.head(3)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: 'REGIONID' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: 'PRODUCT' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW WEEK  YEAR  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0   01  2014
                   1      A00  PRODUCT34    201402  679.0    679.0   02  2014
                   2      A00  PRODUCT34    201403  578.0    578.0   03  2014

                              MA
REGIONID PRODUCT
A00      PRODUCT34 0  514.444444
                   1  516.800000
                   2  503.363636

# 표준편차 구하기

In [96]:
def sub_func(data, term):
    data["STD"] = data["QTY_NEW"].rolling(window=term,center=True,min_periods=1).std()
    return data

sortedData = sortedData.groupby(["REGIONID","PRODUCT"]).apply(sub_func, period)
sortedData.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: 'REGIONID' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: 'PRODUCT' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW WEEK  YEAR  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0   01  2014
                   1      A00  PRODUCT34    201402  679.0    679.0   02  2014
                   2      A00  PRODUCT34    201403  578.0    578.0   03  2014
                   3      A00  PRODUCT34    201404  532.0    532.0   04  2014
                   4      A00  PRODUCT34    201405  516.0    516.0   05  2014
                   5      A00  PRODUCT34    201406  423.0    423.0   06  2014
                   6      A00  PRODUCT34    201407  407.0    407.0   07  2014
                   7      A00  PRODUCT34    201408  364.0    364.0   08  2014
                   8      A00  PRODUCT34    201409  470.0    470.0   09  2014
                   9      A00  PRODUCT34    201410  538.0    538.0   10  2014

                              MA         STD
REGIONID PRODUCT
A00      PRODUCT34 0  514.444444  110.352969
                   1  516.800000  104.308091
                   2  503.363636  108.526746
                   3  490.750000  112.323498
                   4  480.230769  114.033733
                   5  468.214286  118.426984
                   6  456.666667  122.569902
                   7  445.875000  126.036437
                   8  433.588235  132.131591
                   9  405.294118  131.890468

# UPPER/LOW BOUND

In [100]:
sortedData["UPPER"] = sortedData["MA"].astype(float) +  sortedData["STD"].astype(float)
sortedData["LOW"] = sortedData["MA"].astype(float) -  sortedData["STD"].astype(float)
sortedData.head(3)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW WEEK  YEAR  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0   01  2014
                   1      A00  PRODUCT34    201402  679.0    679.0   02  2014
                   2      A00  PRODUCT34    201403  578.0    578.0   03  2014

                              MA         STD       UPPER         LOW
REGIONID PRODUCT
A00      PRODUCT34 0  514.444444  110.352969  624.797413  404.091475
                   1  516.800000  104.308091  621.108091  412.491909
                   2  503.363636  108.526746  611.890382  394.836891

# 값 대체

In [103]:
sortedData["RENEW_QTY"] =  np.where(sortedData["QTY_NEW"] < sortedData["LOW"], sortedData["LOW"],\
                           np.where(sortedData["QTY_NEW"] > sortedData["UPPER"], sortedData["UPPER"],\
                           sortedData["QTY_NEW"],\
                                ))
sortedData.head(10)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW WEEK  YEAR  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0   01  2014
                   1      A00  PRODUCT34    201402  679.0    679.0   02  2014
                   2      A00  PRODUCT34    201403  578.0    578.0   03  2014
                   3      A00  PRODUCT34    201404  532.0    532.0   04  2014
                   4      A00  PRODUCT34    201405  516.0    516.0   05  2014
                   5      A00  PRODUCT34    201406  423.0    423.0   06  2014
                   6      A00  PRODUCT34    201407  407.0    407.0   07  2014
                   7      A00  PRODUCT34    201408  364.0    364.0   08  2014
                   8      A00  PRODUCT34    201409  470.0    470.0   09  2014
                   9      A00  PRODUCT34    201410  538.0    538.0   10  2014

                              MA         STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  514.444444  110.352969  624.797413  404.091475
                   1  516.800000  104.308091  621.108091  412.491909
                   2  503.363636  108.526746  611.890382  394.836891
                   3  490.750000  112.323498  603.073498  378.426502
                   4  480.230769  114.033733  594.264502  366.197036
                   5  468.214286  118.426984  586.641270  349.787302
                   6  456.666667  122.569902  579.236569  334.096764
                   7  445.875000  126.036437  571.911437  319.838563
                   8  433.588235  132.131591  565.719826  301.456644
                   9  405.294118  131.890468  537.184586  273.403649

                       RENEW_QTY
REGIONID PRODUCT
A00      PRODUCT34 0  624.797413
                   1  621.108091
                   2  578.000000
                   3  532.000000
                   4  516.000000
                   5  423.000000
                   6  407.000000
                   7  364.000000
                   8  470.000000
                   9  537.184586

# 스무딩

In [105]:
speriod = 5
def smooth(eachData, term):
    basicData = eachData.reset_index(drop=True)
    basicData["SMOO"] = basicData["REFINED_QTY"].rolling(window=term,center=True,min_periods=1).mean()
    return basicData

sortedData = sortedData.groupby(["REGIONID","PRODUCT"]).apply(smooth, speriod)
sortedData.head(3)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: 'REGIONID' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: 'PRODUCT' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  import sys

KeyError: 'REFINED_QTY'

# 계절성 지수(안정/불안)

In [ ]:
# 안정

In [ ]:
# 불안정