# [교재 4-1]

In [2]:
import numpy as np
import pandas as pd

kcsData = pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")
kcsData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY
0      A60  PRODUCT4    201402  71.0

# 실습(ma구하기-일반)

In [38]:
kcsData.columns = kcsData.columns.str.upper()

sortedData = kcsData.sort_values(["REGIONID","PRODUCT"])
sortedData.reset_index(inplace=True, drop=True)
sortedData.head()

sortedData["MA"] = sortedData["QTY"].rolling(window=3,center=False,min_periods=1).mean()
sortedData.head()

  REGIONID    PRODUCT  YEARWEEK    QTY          MA
0      A00  PRODUCT34    201404  532.0  532.000000
1      A00  PRODUCT34    201401  661.0  596.500000
2      A00  PRODUCT34    201402  679.0  624.000000
3      A00  PRODUCT34    201403  578.0  639.333333
4      A00  PRODUCT34    201406  423.0  560.000000

# 실습(ma구하기-고급)

In [35]:
def sub_func(data):
    data["MA2"] = data["QTY"].rolling(window=3,center=True,min_periods=1).mean()
    return data

In [48]:
kcsData.columns = kcsData.columns.str.upper()

sortedData = kcsData.sort_values(["REGIONID","PRODUCT"])
sortedData.reset_index(inplace=True, drop=True)
sortedData.head()

gbData = sortedData.groupby(["REGIONID","PRODUCT"])
len(gbData)

794

In [52]:
eachData = gbData.get_group(list(gbData.groups)[0])
eachData.head()

  REGIONID    PRODUCT  YEARWEEK    QTY
0      A00  PRODUCT34    201404  532.0
1      A00  PRODUCT34    201401  661.0
2      A00  PRODUCT34    201402  679.0
3      A00  PRODUCT34    201403  578.0
4      A00  PRODUCT34    201406  423.0

In [ ]:
gbReault = sortedData.groupby(["REGIONID","PRODUCT"]).apply(sub_func)
gbReault.head(10)

## -함수생성(다른방법)

In [54]:
#basicData = eachData.reset_index(drop=True)
#basicData.head()

  REGIONID    PRODUCT  YEARWEEK    QTY
0      A00  PRODUCT34    201404  532.0
1      A00  PRODUCT34    201401  661.0
2      A00  PRODUCT34    201402  679.0
3      A00  PRODUCT34    201403  578.0
4      A00  PRODUCT34    201406  423.0

In [64]:
def ma_rolling(eachData, term):
    basicData = eachData.reset_index(drop=True)
    basicData["MA"] = basicData["QTY"].rolling(window=term,center=True,min_periods=1).mean()
    return basicData
#bascData.head(2)

In [60]:
len(eachData)

157

In [66]:
period = 17
grResult = sortedData.groupby(["REGIONID","PRODUCT"]).apply(ma_rolling, period)
grResult

                       REGIONID    PRODUCT  YEARWEEK      QTY           MA
REGIONID PRODUCT
A00      PRODUCT34 0        A00  PRODUCT34    201404    532.0   514.444444
                   1        A00  PRODUCT34    201401    661.0   516.800000
                   2        A00  PRODUCT34    201402    679.0   501.818182
                   3        A00  PRODUCT34    201403    578.0   490.750000
                   4        A00  PRODUCT34    201406    423.0   480.230769
                   5        A00  PRODUCT34    201405    516.0   468.214286
                   6        A00  PRODUCT34    201409    470.0   456.666667
                   7        A00  PRODUCT34    201407    407.0   445.875000
                   8        A00  PRODUCT34    201408    364.0   433.588235
                   9        A00  PRODUCT34    201410    538.0   412.882353
                   10       A00  PRODUCT34    201412    352.0   382.235294
                   11       A00  PRODUCT34    201411    369.0   351.764706
                   12       A00  PRODUCT34    201413    354.0   323.529412
                   13       A00  PRODUCT34    201414    312.0   305.470588
                   14       A00  PRODUCT34    201415    295.0   280.000000
                   15       A00  PRODUCT34    201416    284.0   256.529412
                   16       A00  PRODUCT34    201417    237.0   246.941176
                   17       A00  PRODUCT34    201418    180.0   236.352941
                   18       A00  PRODUCT34    201420    140.0   217.352941
                   19       A00  PRODUCT34    201419    161.0   200.294118
                   20       A00  PRODUCT34    201422     98.0   182.117647
                   21       A00  PRODUCT34    201421    116.0   182.705882
                   22       A00  PRODUCT34    201423     83.0   167.235294
                   23       A00  PRODUCT34    201424     71.0   175.352941
                   24       A00  PRODUCT34    201436    244.0   161.882353
                   25       A00  PRODUCT34    201440    184.0   156.823529
                   26       A00  PRODUCT34    201450    215.0   162.352941
                   27       A00  PRODUCT34    201520     62.0   165.352941
                   28       A00  PRODUCT34    201426     60.0   163.058824
                   29       A00  PRODUCT34    201433    364.0   159.588235
...                         ...        ...       ...      ...          ...
A77      PRODUCT12 127      A77  PRODUCT12    201626   4815.0  4580.176471
                   128      A77  PRODUCT12    201632   5863.0  4448.647059
                   129      A77  PRODUCT12    201617   3421.0  4369.588235
                   130      A77  PRODUCT12    201648   4152.0  4612.235294
                   131      A77  PRODUCT12    201650   5846.0  4585.882353
                   132      A77  PRODUCT12    201647   3574.0  4541.235294
                   133      A77  PRODUCT12    201628   3319.0  4514.352941
                   134      A77  PRODUCT12    201612   3576.0  4473.176471
                   135      A77  PRODUCT12    201604   5044.0  4402.058824
                   136      A77  PRODUCT12    201644   4109.0  4427.058824
                   137      A77  PRODUCT12    201636   3742.0  4948.882353
                   138      A77  PRODUCT12    201614   7854.0  4911.176471
                   139      A77  PRODUCT12    201613   4058.0  4941.000000
                   140      A77  PRODUCT12    201620   3496.0  4833.000000
                   141      A77  PRODUCT12    201610   4731.0  4951.176471
                   142      A77  PRODUCT12    201609   4233.0  4967.882353
                   143      A77  PRODUCT12    201637   3002.0  5023.352941
                   144      A77  PRODUCT12    201547   5240.0  4979.117647
                   145      A77  PRODUCT12    201639  14734.0  5156.235294
                   146      A77  PRODUCT12    201618   2780.0  5149.294118
                   147      A77  PRODUCT12    201616   4659.0  4923.705882
                   148      A77  PRODUCT12    201641   4010.0  4861.588235
                   149      A77  PRODUCT12    201638   5583.0  4946.937500
                   150      A77  PRODUCT12    201640   3603.0  4961.333333
                   151      A77  PRODUCT12    201548   4519.0  5013.357143
                   152      A77  PRODUCT12    201642   4292.0  5168.076923
                   153      A77  PRODUCT12    201630   7120.0  5162.083333
                   154      A77  PRODUCT12    201635   3624.0  4291.909091
                   155      A77  PRODUCT12    201634   4019.0  4443.100000
                   156      A77  PRODUCT12    201627   3002.0  4419.111111

[124658 rows x 5 columns]

# 계절성 산출

In [75]:
grResult["RATIO"] = grResult["QTY"]/grResult["MA"]
grResult["WEEK"] = grResult["YEARWEEK"].astype(str).str[4:]
grResult

                       REGIONID    PRODUCT  YEARWEEK      QTY           MA  \
REGIONID PRODUCT
A00      PRODUCT34 0        A00  PRODUCT34    201404    532.0   514.444444
                   1        A00  PRODUCT34    201401    661.0   516.800000
                   2        A00  PRODUCT34    201402    679.0   501.818182
                   3        A00  PRODUCT34    201403    578.0   490.750000
                   4        A00  PRODUCT34    201406    423.0   480.230769
                   5        A00  PRODUCT34    201405    516.0   468.214286
                   6        A00  PRODUCT34    201409    470.0   456.666667
                   7        A00  PRODUCT34    201407    407.0   445.875000
                   8        A00  PRODUCT34    201408    364.0   433.588235
                   9        A00  PRODUCT34    201410    538.0   412.882353
                   10       A00  PRODUCT34    201412    352.0   382.235294
                   11       A00  PRODUCT34    201411    369.0   351.764706
                   12       A00  PRODUCT34    201413    354.0   323.529412
                   13       A00  PRODUCT34    201414    312.0   305.470588
                   14       A00  PRODUCT34    201415    295.0   280.000000
                   15       A00  PRODUCT34    201416    284.0   256.529412
                   16       A00  PRODUCT34    201417    237.0   246.941176
                   17       A00  PRODUCT34    201418    180.0   236.352941
                   18       A00  PRODUCT34    201420    140.0   217.352941
                   19       A00  PRODUCT34    201419    161.0   200.294118
                   20       A00  PRODUCT34    201422     98.0   182.117647
                   21       A00  PRODUCT34    201421    116.0   182.705882
                   22       A00  PRODUCT34    201423     83.0   167.235294
                   23       A00  PRODUCT34    201424     71.0   175.352941
                   24       A00  PRODUCT34    201436    244.0   161.882353
                   25       A00  PRODUCT34    201440    184.0   156.823529
                   26       A00  PRODUCT34    201450    215.0   162.352941
                   27       A00  PRODUCT34    201520     62.0   165.352941
                   28       A00  PRODUCT34    201426     60.0   163.058824
                   29       A00  PRODUCT34    201433    364.0   159.588235
...                         ...        ...       ...      ...          ...
A77      PRODUCT12 127      A77  PRODUCT12    201626   4815.0  4580.176471
                   128      A77  PRODUCT12    201632   5863.0  4448.647059
                   129      A77  PRODUCT12    201617   3421.0  4369.588235
                   130      A77  PRODUCT12    201648   4152.0  4612.235294
                   131      A77  PRODUCT12    201650   5846.0  4585.882353
                   132      A77  PRODUCT12    201647   3574.0  4541.235294
                   133      A77  PRODUCT12    201628   3319.0  4514.352941
                   134      A77  PRODUCT12    201612   3576.0  4473.176471
                   135      A77  PRODUCT12    201604   5044.0  4402.058824
                   136      A77  PRODUCT12    201644   4109.0  4427.058824
                   137      A77  PRODUCT12    201636   3742.0  4948.882353
                   138      A77  PRODUCT12    201614   7854.0  4911.176471
                   139      A77  PRODUCT12    201613   4058.0  4941.000000
                   140      A77  PRODUCT12    201620   3496.0  4833.000000
                   141      A77  PRODUCT12    201610   4731.0  4951.176471
                   142      A77  PRODUCT12    201609   4233.0  4967.882353
                   143      A77  PRODUCT12    201637   3002.0  5023.352941
                   144      A77  PRODUCT12    201547   5240.0  4979.117647
                   145      A77  PRODUCT12    201639  14734.0  5156.235294
                   146      A77  PRODUCT12    201618   2780.0  5149.294118
                   147      A77  PRODUCT12    201616   4659.0  4923.705882
                   148      A77  PRODUCT12    201641   4010.0  4861.588235
                   149      A77  PRODUCT12    201638   5583.0  4946.937500
                   150      A77  PRODUCT12    201640   3603.0  4961.333333
                   151      A77  PRODUCT12    201548   4519.0  5013.357143
                   152      A77  PRODUCT12    201642   4292.0  5168.076923
                   153      A77  PRODUCT12    201630   7120.0  5162.083333
                   154      A77  PRODUCT12    201635   3624.0  4291.909091
                   155      A77  PRODUCT12    201634   4019.0  4443.100000
                   156      A77  PRODUCT12    201627   3002.0  4419.111111

                           RATIO WEEK
REGIONID PRODUCT
A00      PRODUCT34 0    1.034125   04
                   1    1.279025   01
                   2    1.353080   02
                   3    1.177789   03
                   4    0.880827   06
                   5    1.102059   05
                   6    1.029197   09
                   7    0.912812   07
                   8    0.839506   08
                   9    1.303035   10
                   10   0.920899   12
                   11   1.048997   11
                   12   1.094182   13
                   13   1.021375   14
                   14   1.053571   15
                   15   1.107086   16
                   16   0.959743   17
                   17   0.761573   18
                   18   0.644114   20
                   19   0.803818   19
                   20   0.538114   22
                   21   0.634900   21
                   22   0.496307   23
                   23   0.404898   24
                   24   1.507267   36
                   25   1.173293   40
                   26   1.324275   50
                   27   0.374956   20
                   28   0.367965   26
                   29   2.280870   33
...                          ...  ...
A77      PRODUCT12 127  1.051270   26
                   128  1.317929   32
                   129  0.782911   17
                   130  0.900214   48
                   131  1.274782   50
                   132  0.787011   47
                   133  0.735211   28
                   134  0.799432   12
                   135  1.145827   04
                   136  0.928156   44
                   137  0.756130   36
                   138  1.599209   14
                   139  0.821291   13
                   140  0.723360   20
                   141  0.955530   10
                   142  0.852073   09
                   143  0.597609   37
                   144  1.052395   47
                   145  2.857511   39
                   146  0.539880   18
                   147  0.946238   16
                   148  0.824833   41
                   149  1.128577   38
                   150  0.726216   40
                   151  0.901392   48
                   152  0.830483   42
                   153  1.379288   30
                   154  0.844379   35
                   155  0.904549   34
                   156  0.679322   27

[124658 rows x 7 columns]

# 실습(std구하기-고급)

In [50]:
def sub_func(data):
    data["STD"] = data["QTY"].rolling(window=3,center=True,min_periods=1).std()
    return data

In [51]:
sortedData = kcsData.sort_values(["REGIONID","PRODUCT"])
sortedData.reset_index(inplace=True, drop=True)
sortedData.head()

gbReault = sortedData.groupby(["REGIONID","PRODUCT"]).apply(sub_func)
gbReault.head(10)

  REGIONID    PRODUCT  YEARWEEK    QTY         STD
0      A00  PRODUCT34    201404  532.0   91.216775
1      A00  PRODUCT34    201401  661.0   80.181045
2      A00  PRODUCT34    201402  679.0   53.873308
3      A00  PRODUCT34    201403  578.0  128.945725
4      A00  PRODUCT34    201406  423.0   78.014956
5      A00  PRODUCT34    201405  516.0   46.500896
6      A00  PRODUCT34    201409  470.0   54.720502
7      A00  PRODUCT34    201407  407.0   53.313538
8      A00  PRODUCT34    201408  364.0   90.632959
9      A00  PRODUCT34    201410  538.0  104.096109